<div class="skill" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row wrap" fxLayout.gt-md="row wrap">
  <div fxFlex="100%" fxLayout="column" fxFlex.gt-xs="0 1 50%" fxFlex.gt-sm="0 1 33.33%" fxLayoutAlign="center center" class="item">
    <div fxFlex="100%" fxLayout="row" fxFlex.gt-sm="0 1 50%" fxLayoutAlign="space-between center" class="text">
      <h3>HTML</h3>
      <p>90%</p>
    </div>
    <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
  </div>
  <div fxFlex="100%" fxLayout="column" fxFlex.gt-xs="0 1 50%" fxFlex.gt-sm="0 1 33.33%" fxLayoutAlign="center center" class="item">
    <div fxFlex="100%" fxLayout="row" fxFlex.gt-sm="0 1 50%" fxLayoutAlign="space-between center" class="text">
      <h3>ANGULAR</h3>
      <p>85%</p>
    </div>
    <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
  </div>
  <div fxFlex="100%" fxLayout="column" fxFlex.gt-xs="0 1 50%" fxFlex.gt-sm="0 1 33.33%" fxLayoutAlign="center center" class="item">
    <div fxFlex="100%" fxLayout="row" fxFlex.gt-sm="0 1 50%" fxLayoutAlign="space-between center" class="text">
      <h3>SCSS</h3>
      <p>85%</p>
    </div>
    <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
  </div>
  <div fxFlex="100%" fxLayout="column" fxFlex.gt-xs="0 1 50%" fxFlex.gt-sm="0 1 33.33%" fxLayoutAlign="center center" class="item">
    <div fxFlex="100%" fxLayout="row" fxFlex.gt-sm="0 1 50%" fxLayoutAlign="space-between center" class="text">
      <h3>IONIC</h3>
      <p>85%</p>
    </div>
    <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
  </div>
  <div fxFlex="100%" fxLayout="column" fxFlex.gt-xs="0 1 50%" fxFlex.gt-sm="0 1 33.33%" fxLayoutAlign="center center" class="item">
    <div fxFlex="100%" fxLayout="row" fxFlex.gt-sm="0 1 50%" fxLayoutAlign="space-between center" class="text">
      <h3>JAVASCRIPT / TYPESCRIPT</h3>
      <p>85%</p>
    </div>
    <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
  </div>
  <div fxFlex="100%" fxLayout="column" fxFlex.gt-xs="0 1 50%" fxFlex.gt-sm="0 1 33.33%" fxLayoutAlign="center center" class="item">
    <div fxFlex="100%" fxLayout="row" fxFlex.gt-sm="0 1 50%" fxLayoutAlign="space-between center" class="text">
      <h3>ADOBE XD</h3>
      <p>70%</p>
    </div>
    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
  </div>
  <div fxFlex="100%" fxLayout="column" fxFlex.gt-xs="0 1 50%" fxFlex.gt-sm="0 1 33.33%" fxLayoutAlign="center center" class="item">
    <div fxFlex="100%" fxLayout="row" fxFlex.gt-sm="0 1 50%" fxLayoutAlign="space-between center" class="text">
      <h3>REACT</h3>
      <p>65%</p>
    </div>
    <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
  </div>
  <div fxFlex="100%" fxLayout="column" fxFlex.gt-xs="0 1 50%" fxFlex.gt-sm="0 1 33.33%" fxLayoutAlign="center center" class="item">
    <div fxFlex="100%" fxLayout="row" fxFlex.gt-sm="0 1 50%" fxLayoutAlign="space-between center" class="text">
      <h3>NODE</h3>
      <p>65%</p>
    </div>
    <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
  </div>
  <div fxFlex="100%" fxLayout="column" fxFlex.gt-xs="0 1 50%" fxFlex.gt-sm="0 1 33.33%" fxLayoutAlign="center center" class="item">
    <div fxFlex="100%" fxLayout="row" fxFlex.gt-sm="0 1 50%" fxLayoutAlign="space-between center" class="text">
      <h3>REACT NATIVE</h3>
      <p>40%</p>
    </div>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
  </div>
  <div fxFlex="100%" fxLayout="column" fxFlex.gt-xs="0 1 50%" fxFlex.gt-sm="0 1 33.33%" fxLayoutAlign="center center" class="item">
    <div fxFlex="100%" fxLayout="row" fxFlex.gt-sm="0 1 50%" fxLayoutAlign="space-between center" class="text">
      <h3>MATERIAL DESIGN / BOOTSTRAP</h3>
      <p>75%</p>
    </div>
    <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
  </div>
  <div fxFlex="100%" fxLayout="column" fxFlex.gt-xs="0 1 50%" fxFlex.gt-sm="0 1 33.33%" fxLayoutAlign="center center" class="item">
    <div fxFlex="100%" fxLayout="row" fxFlex.gt-sm="0 1 50%" fxLayoutAlign="space-between center" class="text">
      <h3>FLUTTER</h3>
      <p>20%</p>
    </div>
    <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
  </div>
  <div fxFlex="100%" fxLayout="column" fxFlex.gt-xs="0 1 50%" fxFlex.gt-sm="0 1 33.33%" fxLayoutAlign="center center" class="item">
    <div fxFlex="100%" fxLayout="row" fxFlex.gt-sm="0 1 50%" fxLayoutAlign="space-between center" class="text">
      <h3>RESPONSIVE DESIGN</h3>
      <p>70%</p>
    </div>
    <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
  </div>
</div>
