<div class="about-me" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row wrap" fxLayout.gt-md="row wrap">
  <div fxFlex="100%" fxFlex.gt-sm="0 1 40%" fxLayoutAlign="center center">
    <div class="example-header-image"></div>
  </div>
  <div fxFlex="100%" fxFlex.gt-sm="0 1 60%">
    <p class="presentation">
      Olá, Meu nome é Brayan Vinícius dos Santos, tenho 25 anos, sou bacharel em Sistemas de Informação pela UNIVAS e atualmente estou cursando MBA FULL STACK pela Fiap, tenho quatro anos de
      experiência em programação. Sou uma pessoa comunicativa, organizada, educada, pontual e responsável. Gosto de sair com os amigos, ouvir podcasts, jogar games e etc.
    </p>
  </div>
</div>
