<div class="education" fxLayout="column" fxLayoutAlign="center center">
  <div class="timeline">
    <div class="items">
      <div class="item-left">
        <h3 class="title">2019 - Presente</h3>
        <p class="text">Mba Full Stack Development</p>
      </div>
      <div class="item-right">
        <h3 class="title my-primary-color">Faculdade de Informática e Administração Paulista - FIAP</h3>
        <p class="text">São Paulo - SP</p>
      </div>
    </div>
    <div class="circle my-primary-background"></div>
  </div>
  <div class="timeline">
    <div class="items">
      <div class="item-left">
        <h3 class="title">2015-2018</h3>
        <p class="text">Sistemas de Informação</p>
      </div>
      <div class="item-right">
        <h3 class="title my-primary-color">Universidade do Vale do Sapucaí - UNIVÁS</h3>
        <p class="text">Pouso Alegre - MG</p>
      </div>
    </div>
    <div class="circle my-primary-background"></div>
  </div>
</div>
