<div class="experience" fxLayout="column" fxLayoutAlign="center center">
  <div class="timeline">
    <div class="items">
      <div class="item-left">
        <h3 class="title">2021 - Presente</h3>
        <p class="text">Frontend Developer ( Pleno )</p>
      </div>
      <div class="item-right">
        <h3 class="title my-primary-color">Tarvos</h3>
        <p class="text">Campinas - SP</p>
        <p class="text display-text">Frontend Developer / 2021 - Presente</p>
      </div>
    </div>
    <div class="circle my-primary-background"></div>
  </div>
  <div class="timeline">
    <div class="item-left">
      <h3 class="title">2019 - 2020</h3>
      <p class="text">Frontend Developer ( Junior )</p>
    </div>
    <div class="item-right">
      <h3 class="title my-primary-color">Tarvos</h3>
      <p class="text">Campinas - SP</p>
      <mat-card class="card">
        Desenvolvimento de aplicações web utilizando o framework angular e outras tecnologias como firebase, redux e google maps, além disso faço o desenvolvimento de protótipos utilizando os
        conceitos de UX/UI e mockups com o adobe XD.
      </mat-card>
      <p class="text display-text">Frontend Developer ( Junior ) / 2019 - 2020</p>
    </div>
    <div class="circle my-primary-background"></div>
  </div>
  <div class="timeline">
    <div class="item-left">
      <h3 class="title">2017 - 2018</h3>
      <p class="text">Trainee Frontend Developer</p>
    </div>
    <div class="item-right">
      <h3 class="title my-primary-color">Instituto Nacional de Telecomunicações - Inatel</h3>
      <p class="text">Santa Rita do Sapucaí - MG</p>
      <mat-card class="card">
        Desenvolvimento de aplicações web e mobile, com foco no desenvolvimento de Aplicativos Híbridos usando Framework Ionic, que possui ampla utilização de Angular e type script... Entre outras
        tecnologias e engloba um desenvolvedor front-end.
      </mat-card>
      <p class="text display-text">Trainee Frontend Developer / 2017 - 2018</p>
    </div>
    <div class="circle my-primary-background"></div>
  </div>
</div>
